.drawer {
  width: 380px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
