.drawer {
  width: 360px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.listItem {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.title {
  font-weight: 700;
}

.empty {
  padding: 24px;
  text-align: center;
}
